# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore all files with .pkl, .bin, .zip extensions
*.pkl
*.bin
*.zip

# Ignore all folders that start with "wand"
wandb/

# Ignore all folders that start with "out-"
out-*/
fout-*/

# Ignore specific dataset files
data/agnews/config.json
data/agnews/rawdata/
data/shakespeare/input.txt
data/shakespeare_char/input.txt
data/wikitexts/wikitext-103-raw/


